* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #DEF5E5;
    padding: 5px;
}
.tabIndent {
    margin-left: 1rem;
}
hr {
    color: #8EC3B0;
    width: 90%;
    margin: 1rem 5rem 0px;
}
h2 {
    margin: 1rem 5rem;
    font-size: 2rem;
}
.bottom3rem {
    margin-bottom: 3rem;
}
/* Mobile Screens */
@media screen and (max-width: 767px) {
    body {
        background-color: red;
    }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 991px){

    .flex-container {
        display: flex;
        flex-direction: row;
        /* border: #8EC3B0 solid 2px; */
        width: 800px;
        margin: 5px 5rem;
    }
     .flex-container h1 {
        font-size: 2.5rem;
        flex: 0 0 500px;
        justify-content: flex-start;
        margin-right: auto;
     }
     .flex-container a {
        font-size: 1.5rem;
        margin-top: auto;
        margin-right: 10px;
        flex: 0 0 100px;
        justify-items: flex-end;
        text-align: center;
     }
     header {
        /* margin-top: 1rem; */
        margin: 1rem auto;
        display: flex;
        /* border: 1px solid #000; */
     }
     header img {
        width: 600px;
        margin-left: auto;
     }
    #AboutMe {
        margin-top: 20px;
    }
    
    #AboutMe p {
        margin: 1rem 5rem;
    }
    .work-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1rem 5rem ;
        gap: 3rem;
    }
    .work-container img {
        flex: 0 0 400px;
    }
    .footer-container {
        display: flex;
        flex-direction: row;
    }
    .footer-container div {
        flex: 0 0 200px;
        /* gap: 1rem; */
        margin: 1rem 2.5rem 0;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-weight: 900;
    }
}
/* Desktop resolution */
@media screen and (min-width: 992px) {
    .flex-container {
        display: flex;
        flex-direction: row;
        border: #8EC3B0 solid 2px;
    }
     .flex-container h1 {
        font-size: 3rem;
        flex: 0 0 500px;
        justify-content: flex-start;
        margin-right: auto;
     }
     .flex-container a {
        font-size: 2rem;
        margin-top: auto;
        margin-right: 10px;
        flex: 0 0 100px;
        justify-items: flex-end;
        text-align: center;
     }
     header {
        margin-top: 1rem;
        display: flex;
     }
     header img {
        width: 900px;
        margin: auto;
     }
    #AboutMe {
        margin-top: 20px;
    }
    
    #AboutMe p {
        margin: 1rem 5rem;
    }
    .work-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1rem 5rem ;
        gap: 3rem;
    }
    .work-container img {
        flex: 0 0 400px;
    }
    .footer-container {
        display: flex;
        flex-direction: row;
    }
    .footer-container div {
        flex: 0 0 200px;
        /* gap: 1rem; */
        margin: 1rem 5rem 0;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-weight: 900;
    }
    
    

}